In [1]:
sc

Java ref type org.apache.spark.api.java.JavaSparkContext id 0

In [2]:
sc.version

ERROR: Error in eval(expr, envir, enclos): object 'sc.version' not found

In [3]:
Sys.getenv(c("BLUEMIX_RES_PLAN"))

[1] "s"

In [4]:
Sys.getenv(c("APP_ENV_ENVIRONMENT"))

[1] "prod"

In [ ]:
Sys.getenv(c("BLUEMIX_RES_PLAN"))

In [2]:
# The code was removed by DSX for sharing.

  Year Month Day Hour     Street   Borough Other NumberOfAccidents Killed Auto
1 2014    10  28   15   west53st manhattan     0                 1      0    2
2 2013     8  17   18     brdway manhattan     1                 1      0    0
3 2013     3  27   12 nostrandav  brooklyn     0                 1      0    2
4 2014    11   2   19        9av manhattan     1                 1      0    1
5 2012    10  20    0  stjohnspl  brooklyn     0                 1      0    1
6 2013     6  29   12       16av  brooklyn     0                 1      0    2
  Injured AccidentswithDeaths Taxi AccidentsWithInjuries Truck Bus
1       0                   0    0                     0     0   0
2       1                   0    0                     1     0   0
3       0                   0    0                     0     0   0
4       0                   0    0                     0     0   0
5       1                   0    0                     1     0   0
6       0                   0    0                     0     0   0

In [3]:
# The code was removed by DSX for sharing.

Loading required package: httr
Loading required package: RCurl
Loading required package: bitops

Attaching package: 'RCurl'

The following object is masked from 'package:SparkR':

    base64

  Year Month Day Hour     Street   Borough Other NumberOfAccidents Killed Auto
1 2014    10  28   15   west53st manhattan     0                 1      0    2
2 2013     8  17   18     brdway manhattan     1                 1      0    0
3 2013     3  27   12 nostrandav  brooklyn     0                 1      0    2
4 2014    11   2   19        9av manhattan     1                 1      0    1
5 2012    10  20    0  stjohnspl  brooklyn     0                 1      0    1
6 2013     6  29   12       16av  brooklyn     0                 1      0    2
  Injured AccidentswithDeaths Taxi AccidentsWithInjuries Truck Bus
1       0                   0    0                     0     0   0
2       1                   0    0                     1     0   0
3       0                   0    0                     0     0   0
4       0                   0    0                     0     0   0
5       1                   0    0                     1     0   0
6       0                   0    0                     0     0   0

In [4]:
# The code was removed by DSX for sharing.